name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # JOB 1: Integração Contínua (Testar e Compilar)
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Baixar código
      uses: actions/checkout@v3

    - name: Configurar Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Compilar (Build)
      run: go build -v ./...

    - name: Testar (Unit Tests)
      run: go test -v ./...

  # JOB 2: Deployment Contínuo (Só corre se o JOB 1 passar)
  deploy:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}      # O IP da tua VM
        username: ${{ secrets.SSH_USER }}  # appuser
        key: ${{ secrets.SSH_KEY }}        # A tua chave privada SSH
        script: "/home/appuser/deploy.sh"
